*{
  padding: 0;
  margin: 0;
}

img{
  width: 50%;
  margin-left: auto;
margin-right: auto;
margin-bottom: 5px;
}
h1,h2,p {
  text-align: center;
  margin: 5px;
}
a {
  text-decoration: none;
  color: #2d17d8;
  margin: 15px;
}
a:hover{
  color:#000;
}

button{
  background:#2d17d8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
 width: 100%;
 margin: 5px;
}
button:hover {
  opacity: 0.8;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #2d17d8;

  border-left:none ;
  border-right:none ;
  border-top:none ;
}
form{
  
  width:50%;
  color: #2d17d8 ;
  display: block;
margin:auto;
margin-top: 50px;
margin-bottom: 50px;

}

/*css de vizualizar*/
.card-session{
  margin: auto;
  border: solid 2px #000;
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
  }